<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Archive</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/HomePage/assets/img/folders (2).png" rel="icon">
    <link href="~/HomePage/assets/img/folders (2).png" rel="folders (2)">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/HomePage/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    @*<link href="~/HomePage/assets/css/style.css" rel="stylesheet">*@
    <link href="~/HomePage/assets/css/style.css" rel="stylesheet">
    <!-- =======================================================
    * Template Name: Selecao
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1>
                    <a href="https://localhost:44339/Home/UserHome">Archive</a>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <a href="https://localhost:44339/Home/UserHome"><img src="~/HomePage/assets/img/document.png" alt="" class="img-fluid"></a>
                </h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a a asp-action="UserHome" asp-controller="Home">Home</a></li>
                    <li><a class="nav-link scrollto" href="/Home/UserHome/#services">Services</a></li>
                    <li><a class="nav-link scrollto" href="/Home/UserHome/#about">About</a></li>
                    <li class="dropdown">

                    <li class="dropdown">
                        <a href="#"><img src="~/HomePage/assets/img/profile.png" height="30" width="30"><span></span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/User/Profile">Profile</a></li>
                            <li><a href="/User/editProfile">Update Profile</a></li>
                            <li><a href="/Home/Help">Help</a></li>
                            <li><a asp-action="Login" asp-controller="Home">logout</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="/Home/UserHome/#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="inner-page">
            <div class="container">
                <p>
                    @RenderBody()
                </p>
            </div>
        </section><!-- End Breadcrumbs -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Archive</h3>
            <div class="social-links">
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Archive</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
                <p>Designed by FCI Students"</p>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/HomePage/assets/vendor/aos/aos.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.esm.min.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.esm.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.min.js.map"></a>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js.map"></a>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.js.map"></a>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.bundle.js.map"></a>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.esm.min.js.map"></a>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.esm.js.map"></a>

    <script src="~/HomePage/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/HomePage/assets/vendor/glightbox/js/glightbox.js"></script>

    <script src="~/HomePage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/HomePage/assets/vendor/isotope-layout/isotope.pkgd.js"></script>

    <a href="~/HomePage/assets/vendor/swiper/swiper-bundle.min.js.map"></a>
    <script src="~/HomePage/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <script src="~/HomePage/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/HomePage/assets/js/main.js"></script>

</body>

</html>